# Keycloak
VITE_KEYCLOAK_CLIENT=<KEYCLOAK_CLIENT>
VITE_KEYCLOAK_REALM=<KEYCLOAK_REALM>
VITE_KEYCLOAK_URL=<KEYCLOAK_URL>
VITE_KEYCLOAK_ADMIN_ROLE=<KEYCLOAK_ADMIN_ROLE>

# Formio
VITE_FORMIO_JWT_SECRET=<FORMIO_SECRET>
VITE_USER_RESOURCE_FORM_ID=<USER_RESOURCE_FORM_ID>
VITE_FORM_ID=<FORM_ID>
VITE_API_PROJECT_URL=<PROJECT_URL>
VITE_FORMIO_ANONYMOUS_USER=<FORMIO_ANONYMOUS_USER>
VITE_ANONYMOUS_ID=<FORMIO_ANONYMOUS_ID>

# APIs
VITE_API_URL=http://localhost:5000/api
VITE_ANALYTICS_API_URL=http://localhost:5001/api
VITE_REDASH_PUBLIC_URL=<REDASH_PUBLIC_URL>
VITE_REDASH_COMMENTS_PUBLIC_URL=<REDASH_COMMENTS_PUBLIC_URL>
VITE_CENTRE_API_URL=<CENTRE_API_URL>

# Penguin Analytics
VITE_PENGUIN_URL=/analytics
VITE_PENGUIN_ENABLED=true

# Tenant
VITE_DEFAULT_TENANT=eao
VITE_IS_SINGLE_TENANT_ENVIRONMENT=True

# Constants
VITE_ENGAGEMENT_PROJECT_TYPES=Energy-Electricity,Energy - Petroleum & Natural Gas,Food Processing,Industrial,Mines,Other,Tourist Destination Resorts,Transportation,Waste Disposal,Water Management
